
@model Wba.Oefening.Students.Web.ViewModels.StudentsDetailsVm

@{
                <h2>Student Info</h2>

                            <li>Id : @Model.StudentId</li>
                                        <li>Naam : @Model.StudentName</li>
                                                    <li>Course : @Model.StudentCourse</li> }
